.navbar {
  height: 150px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 20px; */
}

.navbar-left {
  display: flex;
  /* flex-grow: 2; */
  justify-content: flex-start;
  align-items: center;
  /* margin: 25px; */
  margin-left: 120px;
}

.navbar-left a {
  text-decoration: none;
  position: relative;
  margin: 0;
}

.navbar-left a:before,
a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  top: 52%;
  /* margin-top: -0.5px; */
  right: 0;
  background: var(--lightGrey);
  transition: width 0.2s ease;
}

.navbar-left a:hover:after {
  width: 130%;
  left: -15%;
  background: var(--lightGrey);
}

.initials {
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--mainGrey);
  font-weight: 600;
  margin: 0;
}

.navbar-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-center a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--lightGrey);
  margin: 25px;
  font-size: 1.2rem;
  position: relative;
}

.navbar-center a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 2px;
  right: 0;
  background: var(--lightGrey);
  transition: width 0.2s ease;
}

.navbar-center a:hover:after {
  width: 100%;
  left: 0;
  background: var(--lightGrey);
}

.prof-pic {
  width: 5.5rem;
  margin: 20px 40px;
}
