.navbar {
  height: 150px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px;
}

.navbar-left a {
  text-decoration: none;
  position: relative;
  margin: 0;
}

.navbar-left a:before,
a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  top: 52%;
  right: 0;
  background: var(--lightGrey);
  transition: width 0.2s ease;
}

.navbar-left a:hover:after {
  width: 130%;
  left: -15%;
  background: var(--lightGrey);
}

.initials {
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--mainGrey);
  font-weight: 600;
  margin: 0;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-center a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--lightGrey);
  margin: 25px;
  font-size: 1.1rem;
  position: relative;
}

.navbar-center a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 12px;
  right: 0;
  background: var(--lightGrey);
  transition: width 0.2s ease;
}

.navbar-center a:hover:after {
  width: 100%;
  left: 0;
  background: var(--lightGrey);
}

.navbar-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.prof-pic {
  width: 5.5rem;
}

@media screen and (min-width: 0) and (max-width: 1024px) {
  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
  }

  .navbar-center a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--lightGrey);
    margin: 5px;
    font-size: 1.1rem;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
